$niagara-green: rgba(42, 187, 155, 1);
$cascade-grey: rgba(149, 165, 166, 1);
$curious-blue: rgba(30, 139, 195, 1);
$ebony-clay: rgba(34, 49, 63, 1);
$jaffa-orange: rgba(235, 151, 78, 1);
$sunset-orange: rgba(246, 71, 71, 1);

$max-width: 320px;
*:focus {
  outline: none;
}
body {
  background: $ebony-clay;
  color: white;
  font-family: 'Lato', sans-serif;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}
.phone-container {
  border-top: 72px solid black;
  border-right: 15px solid black;
  border-bottom: 72px solid black;
  border-left: 15px solid black;
  border-radius: 15px;
  margin: 0 auto;
  width: $max-width;
}
.main-container {
  background: $niagara-green;
  border: 2px solid white;
  border-radius: 0px;
  max-width: $max-width;
  margin:0 auto;
}

.title-bar {
  background: $niagara-green;
  color: white;
  font-family: 'Kalam', cursive;
  font-size:1.8em;
  text-align: center;
}

.bill-container{
  background: $niagara-green;
  border-bottom: 2px solid white;
  font-size: 1.8em;
  padding:10px;
  .header{
    display: inline-block;
  }
  .cur-bill{
    display: inline-block;
    float: right;
  }
}

.tip-container{
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  background: $niagara-green;
  font-size: 1.8em;
  padding: 10px;
  .header{
    display: inline-block;
    float: left;
    width: 33.33%;
  }
  .cur-tip-per{
    display: inline-block;
    float: left;
    text-align: center;
    width: 33.33%;
  }
  .cur-tip {
    display: inline-block;
    float: right;
    overflow: hidden;
    text-align: right;
    width: 33.33%;
  }
}

.total-container{
  background: $niagara-green;
  font-size: 1.8em;
  padding: 10px;
  .header{
    display: inline-block;
  }
  .cur-total{
    display: inline-block;
    float: right;
  }
}

.calc-input-container {
  .num-btns-container {
    width:100%;
    .row-btns {
      padding-left:0px;
      text-align: center;
      &:last-child{
        margin-bottom:5px;
      }
      .num-btn {
        &:hover {
          background: white;
          color: $niagara-green;
        }
        background: rgba(255,255,255,0);
        border: 2px solid white;
        border-radius: 50%;
        display: inline-block;
        height: 70px;
        margin:0 10px 2px 0;
        outline: none;
        text-align: center;
        width:70px;
      }
    }
  // .num-btns-container {
  //   display: inline-block;
  //   height: 100%;
  //   width:75%;
  //   .row-btns {
  //     display: flex;
  //     flex-direction: row;
  //     min-height:100px;
  //     .num-btn {
  //       &:first-child{
  //         border-left:none;
  //       }
  //       background: rgba(255,255,255,0);
  //       border: 2px solid white;
  //       display: inline-block;
  //       flex: 1;
  //       margin:0 2px 2px 0;
  //       text-align: center;
  //     }
  //   }
  }
}
.tip-slider-container {
  border-bottom: 2px solid white;
  padding: 0 10px 10px 10px;
  .tip-slider {
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      border-radius: 50%;
      border:2px solid white;
      background: $sunset-orange;
      height: 20px;
      outline:none;
      width: 20px;
    }
    -webkit-appearance: none;
    display: inline-block;
    height: 6px;
    width: 100%;
  }
  .cur-percent {

  }
}
