.title-bar TipAdvisor
.calc-container{ "ng-controller" => "tipCalcCtrl" }
  .bill-container
    .header Bill
    .cur-bill
      {{ bill.dollars + "." + bill.cents | currency }}
      / %input{ type: "number", "ng-model" => "bill", "ng-change" => "calcTotals()" }
  .tip-container.frame
    .header Tip
    .cur-tip-per
      {{ tip + "%" }}
    .cur-tip
      {{ tipInCur | currency }}
  .tip-slider-container
    %input.tip-slider{ type: "range", min: "0", max: "35", step: "1", value: "15", "ng-model" => "tip", "ng-change" => "calcTotals()" }
  .total-container
    .header Total
    .cur-total
      {{ billWithTip | currency }}
  .num-btns-container
    .row-btns
      %button.num-btn{ type: "button", "ng-click" => "btnInput('1')" }
        .num-btn-text 1
      %button.num-btn{ type: "button", "ng-click" => "btnInput('2')" }
        .num-btn-text 2
      %button.num-btn{ type: "button", "ng-click" => "btnInput('3')" }
        .num-btn-text 3
    .row-btns
      %button.num-btn{ type: "button", "ng-click" => "btnInput('4')" }
        .num-btn-text 4
      %button.num-btn{ type: "button", "ng-click" => "btnInput('5')" }
        .num-btn-text 5
      %button.num-btn{ type: "button", "ng-click" => "btnInput('6')" }
        .num-btn-text 6
    .row-btns
      %button.num-btn{ type: "button", "ng-click" => "btnInput('7')" }
        .num-btn-text 7
      %button.num-btn{ type: "button", "ng-click" => "btnInput('8')" }
        .num-btn-text 8
      %button.num-btn{ type: "button", "ng-click" => "btnInput('9')" }
        .num-btn-text 9
    .row-btns
      %button.num-btn{ type: "button", "ng-click" => "btnInput('0')" }
        .num-btn-text 0
      %button.num-btn{ type: "button", "ng-click" => "btnInput('.')" }
        .num-btn-text .
      %button.num-btn{ type: "button", "ng-click" => "btnInput('C')" }
        .num-btn-text C

    




