.title-bar TipAdvisor
.calc-container{ "ng-controller" => "tipCalcCtrl" }
  .bill-container
    .header Bill
    .cur-bill
      {{ bill.dollars + "." + bill.cents | currency }}
      / %input{ type: "number", "ng-model" => "bill", "ng-change" => "calcTotals()" }
  .tip-container
    .header Tip
    .cur-tip-per
      {{ tip + "%" }}
    .cur-tip
      {{ tipInCur | currency }}
  .tip-slider-container
    %input.tip-slider{ type: "range", min: "0", max: "35", step: "1", value: "15", "ng-model" => "tip", "ng-change" => "calcTotals()" }
  .total-container
    .header Total
    .cur-total
      {{ billWithTip | currency }}
  .calc-input-container
    .num-btns-container
      .row-btns
        %button.num-btn{ type: "button", "ng-click" => "btnInput('1')" } 1
        %button.num-btn{ type: "button", "ng-click" => "btnInput('2')" } 2
        %button.num-btn{ type: "button", "ng-click" => "btnInput('3')" } 3
      .row-btns
        %button.num-btn{ type: "button", "ng-click" => "btnInput('4')" } 4
        %button.num-btn{ type: "button", "ng-click" => "btnInput('5')" } 5
        %button.num-btn{ type: "button", "ng-click" => "btnInput('6')" } 6
      .row-btns
        %button.num-btn{ type: "button", "ng-click" => "btnInput('7')" } 7
        %button.num-btn{ type: "button", "ng-click" => "btnInput('8')" } 8
        %button.num-btn{ type: "button", "ng-click" => "btnInput('9')" } 9
      .row-btns
        %button.num-btn{ type: "button", "ng-click" => "btnInput('0')" } 0
        %button.num-btn{ type: "button", "ng-click" => "btnInput('.')" } .
        %button.num-btn{ type: "button", "ng-click" => "btnInput('C')" } C

      




