!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{content: "width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no", name: "viewport"}
    %title Tips & Temps
    %link{ href: "../css/bootstrap.min.css", rel: "stylesheet" }
    %link{ href: "../css/custom.min.css", rel: "stylesheet" }
    %script{ src: '../bower_components/jquery/dist/jquery.min.js' }
    %script{ src: '../bower_components/angular/angular.min.js' }
    %script{ src: '../bower_components/angular-route/angular-route.min.js' }

    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Kalam:400,700' rel='stylesheet' type='text/css'>
  %body{ "ng-app" => "angularTipsApp" }
    %div{ "ng-view" => "" }
    %script{ src: '../js/angular/angularTipsApp.js'  }
    %script{ src: '../js/angular/controllers/controllers.js' }
    %script{ src: '../js/angular/services/services.js' }
    / %script{ src: '../js/app.min.js' }
    %script{ src: '../js/bootstrap.min.js'}
