<div class='title-bar'>TipAdvisor</div>
<div class='calc-container' ng-controller='tipCalcCtrl'>
  <div class='bill-container'>
    <div class='header'>Bill</div>
    <div class='cur-bill'>
      {{ bill.dollars + "." + bill.cents | currency }}
      <!-- %input{ type: "number", "ng-model" => "bill", "ng-change" => "calcTotals()" } -->
    </div>
  </div>
  <div class='tip-container frame'>
    <div class='header'>Tip</div>
    <div class='cur-tip-per'>
      {{ tip + "%" }}
    </div>
    <div class='cur-tip'>
      {{ tipInCur | currency }}
    </div>
  </div>
  <div class='tip-slider-container'>
    <input class='tip-slider' max='35' min='0' ng-change='calcTotals()' ng-model='tip' step='1' type='range' value='15'>
  </div>
  <div class='total-container'>
    <div class='header'>Total</div>
    <div class='cur-total'>
      {{ billWithTip | currency }}
    </div>
  </div>
  <div class='calc-input-container'>
    <div class='num-btns-container'>
      <div class='row-btns'>
        <button class='num-btn' ng-click="btnInput('1')" type='button'>1</button>
        <button class='num-btn' ng-click="btnInput('2')" type='button'>2</button>
        <button class='num-btn' ng-click="btnInput('3')" type='button'>3</button>
      </div>
      <div class='row-btns'>
        <button class='num-btn' ng-click="btnInput('4')" type='button'>4</button>
        <button class='num-btn' ng-click="btnInput('5')" type='button'>5</button>
        <button class='num-btn' ng-click="btnInput('6')" type='button'>6</button>
      </div>
      <div class='row-btns'>
        <button class='num-btn' ng-click="btnInput('7')" type='button'>7</button>
        <button class='num-btn' ng-click="btnInput('8')" type='button'>8</button>
        <button class='num-btn' ng-click="btnInput('9')" type='button'>9</button>
      </div>
      <div class='row-btns'>
        <button class='num-btn' ng-click="btnInput('0')" type='button'>0</button>
        <button class='num-btn' ng-click="btnInput('.')" type='button'>.</button>
        <button class='num-btn' ng-click="btnInput('C')" type='button'>C</button>
      </div>
    </div>
  </div>
</div>
