<div class='title-bar'>TipAdvisor</div>
<div ng-controller='tipCalcCtrl'>
  <div class='bill-container'>
    <div class='header'>Bill</div>
    <div class='number'>
      <input ng-change='calculate()' ng-model='bill' type='number'>
    </div>
  </div>
  <div class='tip-container'>
    <div class='header'>Tip</div>
    <div class='slider'>
      <!-- %input{ type: "text", "ng-model" => "tip", "ng-change" => "calculate()" } -->
      <input max='100' min='0' ng-change='calculate()' ng-model='tip' type='range'>
    </div>
  </div>
  <div class='total-container'>
    <div class='header'>Total</div>
    <div class='number'>
      {{ billWithTip }}
    </div>
  </div>
  <div class='num-btns-container'>
    <div class='row-btns'>
      <button class='num-btn'>1</button>
      <button class='num-btn'>2</button>
      <button class='num-btn'>3</button>
    </div>
    <div class='row-btns'>
      <button class='num-btn'>4</button>
      <button class='num-btn'>5</button>
      <button class='num-btn'>6</button>
    </div>
    <div class='row-btns'>
      <button class='num-btn'>7</button>
      <button class='num-btn'>8</button>
      <button class='num-btn'>9</button>
    </div>
    <div class='row-btns'>
      <button class='num-btn'>0</button>
      <button class='num-btn'>&nbsp;</button>
      <button class='num-btn'>C</button>
    </div>
  </div>
</div>
